<div class="jumbotron">
  <h3>Book a ride</h3>

  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-4" for="pickUpDate">Pick-up date</label>
      <div class="col-sm-6">
        <datepicker>
          <input ng-model="pickUpDate" type="text" class="form-control" id="pickUpDate" placeholder="Enter pick up date" name="pickUpDate" />
        </datepicker>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="dropDate">Drop date</label>
      <div class="col-sm-6">
        <datepicker>
          <input ng-model="dropDate" type="text" class="form-control" id="dropDate" placeholder="Enter drop date" name="dropDate" />
        </datepicker>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <button type="submit" ng-click="searchBike()" class="btn btn-lg btn-default">Seach bikes</button>
      </div>
    </div>
  </form>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
